:root {
  --pink: #efbfc6;
  --light-red: #c22828;
  --maroon: #8a0f0f;
  --crimson: #3c0303;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--pink);
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--maroon);
  color: var(--pink);
  width: 100%;
}

header nav {
  padding-top: 32px;
  margin-right: 20px;
  float: right;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

header nav ul {
  list-style-type: none;
  margin-top: -13%;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: var(--crimson);
}

img {
  height: auto;
  max-width: 20%;
}

h2 {
  font-size: 50 px;
}

.sidebar {
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  float: right;
  border: var(--crimson);
  box-shadow: 0 4px 8px var(--maroon);
}
