:root {
  --pink: #efbfc6;
  --light-red: #c22828;
  --maroon: #8a0f0f;
  --crimson: #3c0303;
  --glow: #bc544b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--pink);
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--maroon);
  color: var(--pink);
  width: 100%;
  display: flex;
}

header nav {
  padding-top: 70px;
  float: inline-end;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
}

header nav ul {
  list-style-type: none;
  margin-top: -13%;
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  display: flex;
  justify-content: flex-end;
  margin-left: 25px;
}

a {
  color: var(--crimson);
}

img {
  height: auto;
  max-width: 20%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 50 px;
}

.sidebar {
  width: 80%;
  margin: 35px auto;
  padding: 20px;
  background-color: var(--light-red);
  border: 5px var(--crimson);
  box-shadow: 0px 4px 8px var(--maroon);
}

.sidebar:hover {
  box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgb(77, 1, 1);
}
